<div class="h-1/2">

    <div class="grid grid-cols-5" >

        <div class="flex flex-col justify-center items-center relative" *ngFor="let pokemon of pokePage">
            <button
                class="removeImg hover:cursor-pointer hover:border hover:rounded-full"
                (click)="updateCollection(pokemon)">
            </button>
            <img [src]="pokemon.url" alt="pokemon.name" class="w-5/12">
            <span class="font-bold">{{pokemon.name}}</span>                
        </div>
            
    </div>

    <div class="flex justify-center p-3 items-center">
        <button 
            class= "text-black p-1 rounded-full hover:bg-slate-200 disabled:hover:bg-opacity-0" 
            (click)="onPreviousClick()"
            [disabled]="fromPokemonId == 0">
            <span class="material-symbols-outlined text-4xl">chevron_left</span>
        </button>
        <span class="flex justify-center p-2 font-bold">
            {{fromPokemonId}} - {{toPokemonId}} of {{amountOfPokemons}}
        </span>
        <button 
            class=" text-black p-1 rounded-full hover:bg-slate-200 disabled:hover:bg-opacity-0" 
            (click)="onNextClick()"
            [disabled]="amountOfPokemons <= toPokemonId">
            <span class="material-symbols-outlined text-4xl">chevron_right</span>    
        </button>
     </div>

</div>