.header {
    width: 100%;
    height: 100px;
    background-color: #d65151;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 90px;
    width: 90px;
    padding: 10px;
}

.title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.app-info, .links, .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
}

p {
    color: white;
    padding: 5px;
}

.user-icon {
    padding: 5px;
    width: 60px;
    height: 60px;
}

.logout-btn {
    background-color: white;
    border-radius: 7px;
    margin: 10px;
    padding: 5px;
}

.title {
    min-width: 260px;
}

@media only screen and (max-width: 750px) {
    
}