<div class="header">
    <div class="app-info">
        <img class="logo" src="../../../assets/pokeball.png" />
        <h1 class="title">Pokemon Trainer</h1>
    </div>

    <div *ngIf="loginService.isLoggedIn()" class="links">
        <a routerLink="/catalogue">Pokemon</a>
        <a routerLink="/profile">Trainer</a> 
    </div>

    <div *ngIf="loginService.isLoggedIn()" class="user-info">
        <p class="username">{{ userService.user!.username }}</p>
        <img class="user-icon" src="../../../assets/user.png" />
        <button (click)="loginService.logout()" class="logout-btn">Log out</button>
    </div>
</div>
