<div class="form-container">
    <form *ngIf="!showPasswordInput" #usernameForm="ngForm" (ngSubmit)="usernameSubmit(usernameForm)">
        <fieldset>
            <input
                ngModel
                #username="ngModel"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
            />
            <button type="submit"><i class="arrow right"></i></button>
        </fieldset>
    </form>
    <form *ngIf="showPasswordInput" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        <fieldset class="passwords">
            <h5 
                class="instructions"
                *ngIf="userExists"
            >
                Login as: {{ username }}
            </h5>
            <h5 
                class="instructions" 
                *ngIf="!userExists"
            >
                Create new password for: {{ username }}
            </h5>
            <input
                *ngIf="!userExists"
                ngModel
                #passwordOne="ngModel"
                type="password"
                name="passwordTwo"
                id="passwordTwo"
                placeholder="Password"
            />
            <input
                ngModel
                #passWordTwo="ngModel"
                type="password"
                name="passwordOne"
                id="passwordOne"
                placeholder="Password"
            />
            <button type="submit" class="submit-password"><i class="arrow right"></i></button>
            <h5 *ngIf="showWarning" class="warning">{{ warningMessage }}</h5>
        </fieldset>
    </form>
    <div class="footer"></div>
</div>