.form-container {
    background-color: #d9d9d9;
    min-height: 150px;
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
}

button {
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

button:hover {
    background-color: #d65151;
}

input {
    border-radius: 15px;
    width: 75%;
    height: 50px;
    margin: 5px;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

fieldset {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #d65151;
    height: 15px;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.arrow {
    border: solid #d9d9d9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.passwords {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    margin: 5px;
}

#passwordOne {
    grid-row: 3;
    grid-column: 1;
    width: 90%;
}

#passwordTwo {
    grid-row: 2;
    grid-column: 1;
    width: 90%;
}

.submit-password {
    grid-row: 3;
    grid-column: 2;
}

.instructions {
    grid-row: 1;
    grid-column: 1;
}

.warning {
    color: #d65151;
    grid-row: 4;
    grid-column: 1;
}