@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body, app-root {
    height: 100%;
    width: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
}

app-login { 
    flex: 1;
}